body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
  color: #333;
  min-width: 800px;
  min-height: 400px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: navy;
  padding: 0;
  color: white;
  width:100%;
  height:90px;
  position:sticky;
  top:0;
}

.logo {
  color: orange;
  font-size: 1.5rem;
  font-weight: bold;
  margin: auto;
  margin-bottom:0;
}

.user-account {
  color: orange;
  text-decoration: none;
  font-weight: bold;
  position:absolute;
  right:10px;
}


.calories {
  padding-top:20px;
  color:navy;
  margin-bottom: 1rem;
  text-align: center;
}

.meal {
  background-color:navy;
  width:600px;
  margin:auto;
  border-radius: 14px;
}

.meal h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  background-color: navy;
  color:white;
  text-align:left;
}

.meal-list {
  list-style: none;
  padding: 0;
  margin-bottom: 1rem;
  background-color:white;
}

.meal-sublist {
  list-style: none;
  padding: 0;
  margin-bottom: 1rem;
  background-color:white;
}

.meal-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 0.75rem 1rem;
  margin-bottom: 0.5rem;
  border-radius: 5px;
}

.add {
  display:none;
  position:fixed;
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,0.75);
  justify-content:center;
  z-index: 1;
}

.food-name {
  font-weight: bold;
  color: navy;
  width:85%;
  display:inline-block;
  padding-left: 10px;
  padding-right: 10px;
}

.food-details {
  color: #666;
  text-align:center;
  display:block;
  padding-bottom:10px;
}

.edit-btn {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: navy;
  display:inline-block;
}

.add-meal {
  background-color: white;
  color: navy;
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

.add-food {
  background-color: navy;
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

.add-meal:hover {
  background-color: grey;
}

.meal-input-wrapper {
  position:relative;
  display:none;
}

.input-box {
  position:relative;
  width:600px;
  height:4rem;
  border-radius:50px;
  margin-top:4rem;
  padding:20px;
  font-size:3rem;
}

.input-button {
  background-color: white;
  color: navy;
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

.input-button:hover {
  background-color: grey;
}


.frame1 {
  width: 600px;
  border: 5px solid navy;
  border-radius: 50px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding-left: 10px;
}

.frame2 {
  width: 500px;
  border: 5px solid navy;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 0;
  padding-top: 0px;
  border-radius: 10px;
  background-color: white;
/*  padding-left: 10px; */
}

.frame3 {
  width: 502px;
  padding-top: 0px;
  background-color: navy;
  color: white;
  padding-left: 10px; 
  margin: 0 auto;
  margin-bottom: 0;
}

.deplogo {
  position:fixed;
  bottom:1rem;
  right:1rem;
}

.mealDeleteButton {
  z-index: 0;
  position:relative;
  bottom:40px;
  float:right;
}